// ==========================================================================
// #Settings
// ==========================================================================

// Fonts
$global-font: 'Lato', Helvetica, Arial, sans-serif;
//$secondary-font: 
// $tertiary-font: 'Rosario', sans-serif;
// $serif-font: 'Unna', serif;
// $default : sans-serif;

$global-font-size: 16px;
$global-line-height: 1.5;
$global-letter-spacing: 0.5px;
$global-letter-spacing--small: 0.2px;

$main-font-style: normal;
$second-font-style: italic;

$global-font-weight-thin: 100;
$global-font-weight-light: 200;
$global-font-weight-regular: 300;
$global-font-weight-normal: 400;
$global-font-weight-bold: bold;

// Colors
$brand-color : #e4007c;
$wild-sand   : #f5f5f5;

// Global Settings
$base-font-size   : 15px;
$base-line        : 24px;
$letter-space     : 1px;
$body-antialiased : true;
$base-bg 		  : $wild-sand;

