// ==========================================================================
// #Extends
// ==========================================================================

//Header Nav
%nav-block {
	
	text-align: center;
    @include transition(all 0.5s ease-in-out);
 	
	@include media-query(large) {
		float: left;
	}
}

%nav-list {

	@include transition(all 0.5s ease-in-out);
	@include media-query(x-large) {
		width:69%;
		float: left;
		text-align: center;
	}
	&.is-active.site-nav__list{ 
		@include media-query(x-large) {
			width: 85.7%;
			text-align: right;
		}
	}

}

%nav-item {
	text-align: center;
    @include media-query(medium) {
    	display: inline-block;
    	text-align: inherit;
    }
}

%nav-link {
	font-weight: bold;

    display: block;

    padding: 10px 15px;

    transition: color, background-color, .15s linear;
    transition-property: color, background-color;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

    color: #111;
    @include media-query(x-large) {
    	padding-top: 0;
    	padding-bottom: 0;
    	margin-top: 5px;
    }
}

%nav-active {
	color: $brand-color;;
}

//Header Contact

$header-c-transform-top:-20deg;
$header-c-transform-bot:20deg;

%header-c-item {
	width: 320px;
	height: 50%;

    padding: 10px 25px 10px;
    margin-right: -60px;

    color: white;
    z-index: 9999;
    @include absolute(right);
    @include transition(.3s ease-in-out);

    display: none;
	@include media-query(x-large) {
		display: block;
	}
}

%header-c-item-active {
	margin-right: -100%;
}

%header-c-email {
	background: $brand-color;
    top: 0;
    @include transform(skew($header-c-transform-top));

}

%header-c-phone {
	background: #111111;
    bottom: 0;
    @include transform(skew($header-c-transform-bot));

}

%header-c-text-email {
	@include transform(skew($header-c-transform-bot));
}

%header-c-text-phone {
	@include transform(skew($header-c-transform-top));
}