// ==========================================================================
// #Footer
// ==========================================================================

.footer {
	&__body {
		background-color: #1e1e1e;
		color: #afafaf;

	}

	&__heading {
	    font-weight: bold;
	    line-height: 24px;
	    margin: 0 0 10px;
	    text-transform: none;
	    color: lighten($brand-color, 5%);
	}

	&__info {
    	padding-top: 60px;
    	border-top: 4px solid #e4007c;
    	@include media-query(medium) {
    		padding-top: 80px;
    	}
    	@include media-query(large) {
    		padding-top: 100px;
    	}
	}

	&__row {
		@include container;
		@include susy-clearfix;
	}

	&__col {
		
		&--small {

			@include span(12);
			@include media-query(large) {
				@include span(3 of 14);
			}
		}

		&--large {
			@include span(12);
			@include media-query(large) {
				@include span(8 of 14);
			}
		}

	}

	// &__back-to-top {
	// 	@include susy-clearfix;
	// 	background-color: none repeat scroll 0 0 #1c1c1c;
	//     border-top: 1px solid #353535;
	//     position: relative;
	// 	color: #fff;
	//     font-size: 24px;
	//     padding: 12px 0;
	//     text-align: center;
	//     a {
	//     	color: white;
	// 	}
	// 	&:hover {
	// 		background-color: lighten($brand-color, 5%);
	// 		color: white;
	// 	}
	// }

	&--about-des {
		text-align: center;
		@include media-query(large) {
			text-align: right;
		}
	}

	&--about-head {
		color: white;
		text-transform: uppercase;
		font-size: 1.8em; 
		font-family: sans-serif;
		font-weight: bold;
		z-index: 9999;
		&-f {
			background-color: $brand-color;
			padding-left: 12px;
		}
	}

	&__contact-box {
		background-color: white;
		padding: 25px 45px 25px;
		
		z-index: 1000;
		
		margin: 50px 0;

		&--header {
			text-align: center;
			color: $brand-color;
			font-weight: bold;
			font-size: 2em;
			font-style: sans-serif;
			text-transform: uppercase;
		}
		@include media-query(medium) {
			padding: 45px 65px 45px;
		}
		@include media-query(large) {
			margin: -210px 46px 0;
		}
		@include media-query(x-large) {
			margin: -230px 46px 0;
			padding: 65px 85px 65px;
		}
	}

	&__contact-info {
		@include susy-clearfix;
		& i {
			color: $brand-color;
			
			@include media-query(large) {
				float: left;
				padding-right: 15px;
				padding-bottom: 60px;	
			}
		}

		&--heading {
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 20px;
		}

		&--wrap {
			margin-bottom: 40px;
		}

		&--col {
			text-align: center;
			@include span(12)
			@include media-query(medium) {
				@include span(4);
			}
			@include media-query(large) {
				@include span(12);
				text-align: inherit;
			}
		}

	}

	&__copyright {
		text-align: center;
		padding: 60px; 
	}	

}