// ==========================================================================
// #Footer
// ==========================================================================

.footer {
	&__body {
		background-color: #1e1e1e;
		color: #afafaf;

	}

	&__heading {
	    font-weight: bold;
	    line-height: 24px;
	    margin: 0 0 10px;
	    text-transform: none;
	    color: lighten($brand-color, 5%);
	}

	&__info {
    	padding-top: 100px;
    	border-top: 4px solid #e4007c;
	}

	&__row {
		@include container;
		@include susy-clearfix;
	}

	&__col {
		
		&--small {
			@include span(3 of 14);
		}

		&--large {
			@include span(8 of 14);
		}

	}

	// &__back-to-top {
	// 	@include susy-clearfix;
	// 	background-color: none repeat scroll 0 0 #1c1c1c;
	//     border-top: 1px solid #353535;
	//     position: relative;
	// 	color: #fff;
	//     font-size: 24px;
	//     padding: 12px 0;
	//     text-align: center;
	//     a {
	//     	color: white;
	// 	}
	// 	&:hover {
	// 		background-color: lighten($brand-color, 5%);
	// 		color: white;
	// 	}
	// }

	&--about-des {
		text-align: right;
	}

	&--about-head {
		color: white;
		text-transform: uppercase;
		font-size: 1.8em; 
		font-family: sans-serif;
		font-weight: bold;
		&-f {
			background-color: $brand-color;
			padding-left: 12px;
		}
	}

	&__contact-box {
		background-color: white;
		padding: 65px 85px 65px;
		
		z-index: 1000;
		
		margin: -230px 46px 0;

		&--header {
			text-align: center;
			color: $brand-color;
			font-weight: bold;
			font-size: 2em;
			font-style: sans-serif;
			text-transform: uppercase;
		}
	}

	&__contact-info {

		& i {
			color: $brand-color;
			float: left;
			padding-right: 15px;
			padding-bottom: 60px;
		}

		&--heading {
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 20px;
		}

		&--wrap {
			margin-bottom: 40px;
		}

	}

	&__copyright {
		text-align: center;
		padding: 60px; 
	}	

}