// ==========================================================================
// #Header
// ==========================================================================

$header-paddings: 24px;
$header-bg-color: #fff;

.header {
		
  	position: fixed;
    top: 0;
    font-size: 14px;
    overflow: hidden;

    width: 100%;
    margin-bottom: 0;
    padding-top: $header-paddings;
    padding-bottom: $header-paddings;

    @include transition(all 0.5s ease-in-out);

    border-top: 3px solid $brand-color;
    border-bottom: none;
    background-color: $header-bg-color;

	&__body {
		    text-align: center;
		    line-height: 2em;
		    @include container;
		    @include susy-clearfix;
		&--inner{
			@include span(12);
		}
		@include media-query(x-large) {
			text-align: inherit;
		}
	}

	&__head {
		display: block;
		width: 100%;
		@include susy-clearfix;
		@include media-query(x-large) {
			float: left;
			width: auto;
		}
	}

	&__nav-wrap {
		@include susy-clearfix;
	}

	&__logo {
	 	font-size: 2.2em;
	    font-weight: 700;

	    display: inline-block;
	    float: left;

	    text-transform: uppercase;

	    color: #000;

	    &--first-word {
	    	font-size: 150%;
	    	color: $brand-color;
	    }
	    @include media-query(medium) {
	    	float: none;
	    }
	    @include media-query(x-large) {
	    	float: left;
	    }
	}

	&__hamburger {
		float: right;
		@include media-query(medium) {
			display: none;
		}
	}

}