// ==========================================================================
// #Header
// ==========================================================================

.header {
		border-bottom: none;
	    background: #ffffff;
	    border-top: 3px solid #E4007C;
	    margin-bottom: 0;
  
	    @include transition(all 0.5s ease-in-out);
	    background-color: #fff;
	    border-top: 3px solid #E4007C;
	    padding-top: 24px;
    	padding-bottom: 24px;
	    overflow: hidden;
	    position: fixed;
	    top: 0;
	   
	    width: 100%;

	&__body {
		    line-height: 2em;
		    @include container;
		    @include susy-clearfix;
		    text-align: center;
		&--inner{
			@include span(12);
		}
		@include media-query(x-large) {
			text-align: inherit;
		}
	}

	&__head {
		display: block;
		width: 100%;
		@include susy-clearfix;
		@include media-query(x-large) {
			float: left;
			width: auto;
		}
	}

	&__nav-wrap {
		@include susy-clearfix;

	}

	&__logo {
	    display: inline-block;
	    font-size: 2.2em;
	    text-transform: uppercase;
	    font-weight: 700;
	    color: #000;
	    float: left; 

	    &--first-word {
	    	font-size: 150%;
	    }
	    @include media-query(medium) {
	    	float: none;
	    }
	    @include media-query(x-large) {
	    	float: left;
	    }
	}

	&__hamburger {
		float: right;
		@include media-query(medium) {
			display: none;
		}
	}

}