// ==========================================================================
// #Base
// ==========================================================================

*, *:before, *:after {
	@include box-sizing(border-box);
}
 html, body {
	height: 100%;
}

body {

	font-family: $global-font;
	font-size: $base-font-size;
	background-color: $base-bg;
	color: #676767;
	line-height: ($base-line/$base-font-size);
    //text-align: justify;
    @if ($body-antialiased) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    margin-bottom: 90px;

}

a {
	color: $brand-color;
	text-decoration: none;
	&:hover {
		color: lighten($brand-color, 10%);
	}
}

ul,ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
	color: #111111;
    font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol {
	margin: 0;
	padding: 0;
}