// ==========================================================================
// #Button
// ==========================================================================

.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
   	
    &--center {
    	text-align: center;
    }

    &--simple-btn {
    	 border-radius: 4px;
		padding: 12px 30px;
	    border-radius: 0;
	    border: none;
	    background: #E4007C;
	    color: #ffffff;
	    -webkit-transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    -o-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	    transition: all 0.4s ease-in-out;
    }

    &--contact {
    	background-color: #1e1d23;
    	color: white;
    	text-transform: uppercase;
    	font-size: 12px;
    	font-weight: bold;
    	padding: 18px 40px;
    	font-family: Helvetica, Arial, sans-serif;
    	text-align: center;
    }

    &--join {
            background: transparent;
        font-size: 14px !important;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 0;
        text-transform: uppercase;
        padding: 12px 30px !important;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover {
            background: #E4007C;
            border-color: #E4007C;
            color: #ffffff;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

    }
}