// ==========================================================================
// #Section Gallery
// ==========================================================================

.sec-gallery-gutter {
	margin-right: gutter(11);
	margin-left: gutter(11);
}

.portfolio-all-items {
	@include susy-clearfix;
}

.portfolio-item {
	position: relative;
	max-height: 250px;
	@include gallery(12 no-gutter);
	@include media-query(medium) {
		@include gallery(6 no-gutter);
	}
	@include media-query(large) {
		@include gallery(4 no-gutter);
	}
}

.portfolio-hover-me {
    position: relative;
    overflow: hidden;
    text-align: center;

    &:hover .portfolio-hover-layer {
    	bottom: 0;
    
    }

    &:hover .thumbnail {
    	opacity: 1;
    }
}

.portfolio-hover-layer {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
    @include transition(all 0.4s ease-in-out);
}

.portfolio-hover-me-content {	
	@include absolute(top 50% right 0 left 0);
    z-index: 111;

}

.thumbnail {
    	padding: 0;
	    border-radius: 0;
	    border: none;
	    margin-bottom: 0;
	    color: #ffffff;
    	font-size: 26px;
	    background: transparent;
	    display: inline-block;
	    opacity: 0;
	    @include transition(all 0.4s ease-in-out);
	    @include transform(translateY(-100%));
    }